<!DOCTYPE html>
<html>
	<head>
		<title>Scrapyard</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
	</head>

    <body>
        <p>Goodbye {{ user }}, you have {{ points }} points remaining</p>
		<table>
			<tr>
				<th>Material</th>
				<th>Quantity</th>
				<th>Points</th>
			</tr>
			{% for item in market.keys() %}
				<tr>
					<td>{{item}}</td>
					<td>{{ market[item]["Qty"] }}</td>
					<td>{{ market[item]["Points"] }}</td>
				</tr>
			{% endfor %}
		</table>
    </body>
</html>