<!DOCTYPE html>
<html>
	<head>
		<title>Scrapyard</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<table>
			<tr>
				<th>Material</th>
				<th>Quantity</th>
				<th>Points</th>
			</tr>
			{% for item in market.keys() %}
				<tr>
					<td>{{item}}</td>
					<td>{{ market[item]["Qty"] }}</td>
					<td>{{ market[item]["Points"] }}</td>
				</tr>
			{% endfor %}
		</table>

		<form action="{{ url_for('material') }}" method="POST">
			<p><input type="text" name="user" placeholder="Username"/></p>
			<p><input type="text" name="material" placeholder="material" /></p>
			<p><input type="checkbox" name="donating" />Donating<input type="checkbox" name="redeeming" />Redeeming</p>
			<p><input type="submit" value="submit" /></p>
		</form>
	</body>
</html>